body{
    display:flex;
    font-family: Robot, sans-serif, "Helvetica";
    flex-direction: column;
    margin:0;
    justify-content: space-between;
}

.header{
    display:flex;
    justify-content: space-between;
    background-color: #1F2937;
    color:white;
    padding:10px 60px;
    align-items: center;
   
}

.footer{
    font-weight:980;
    color:white;
    text-align:center;
    background-color: #1F2937;
    padding:50px;
}
.list{
    display:flex;
    gap:20px;
}


.logo{
    height:35px;
}

.logo-container{
    display:flex;
    align-items: center;
    font-size:25px;
    
}

.hero{  
    color:white;
    padding:10px 10px 100px 70px;
    background-color: #1F2937;
    
}

.hero-text-container{
   display:flex;
   flex-wrap:wrap;
   flex:0 1 auto;
   width:400px;
   padding-bottom:20px;
} 

.hero-container{
    display:flex;
    padding:0 50px;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.image{
    width:300px;
}

.content{
    text-align:center;
}

.content-text, .quote-text{
    font-size:36px;
    color:rgb(38, 38, 38);
}

.content-text{
    font-weight: 900;
    margin-bottom:50px;
    text-align:center;
}

.quote-text{
   font-weight: 0;
   font-style: italic;
   margin-top:200px;
}

.content-list{
    display:flex;
    flex-wrap:wrap;
    max-width: 100%;
    justify-content: center;
    gap: 80px;
}

.list-container{
    width: 200px;
}

.quote-container
{
 max-width:900px;
 text-align:left;
 margin:auto;
}

.call-to-action{
    display:flex;
    flex-wrap: wrap;
    max-width:900px;
    border-radius:5px;
    padding:30px 100px;
    margin-top: 8%;
    margin-bottom: 15%;
    background-color: #3882F6;
    color:white;
    justify-content: space-between;
    align-items: center;
}

button{
    margin-top:5px;
    color:white;
    background-color:#3882F6;
    border-radius:5px;
    border:none;
    font-weight:bold;
    padding:5px;
    width:90px;
}

ul{
    list-style-type: none;
    padding:0;
    margin:0;
}

a{
    text-decoration: none;
    color:white;
}